[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/lusty-juggler"]
	path = bundle/lusty-juggler
	url = https://github.com/sjbach/lusty.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/kogakure/vim-sparkup.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = https://github.com/beyondwords/vim-twig.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-peepopen"]
	path = bundle/vim-peepopen
	url = https://github.com/shemerey/vim-peepopen.git
